@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    
}

:root{
    /* colors */
    --blue-900: 230,35%,7%;
    --blue-300: 231, 77%, 90%;

    /*Font sizes*/
    --fs-144: 9rem;
    --fs-100:6.25rem;
    --fs-56:3.5rem;
    --fs-32:2rem;
    --fs-28:1.75rem;
    --fs-14:0.875rem;
    --fs-16:1rem;
    --fs-18:1.125rem;
}


/* body containers */
.home-body{
    background-image: url(assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width:768px){
    .home-body{
        background-image: url(assets/home/background-home-tablet.jpg);
    }
}

@media (min-width:1440px){
    .home-body{
    background-image: url(assets/home/background-home-desktop.jpg);
}
}

