@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight:unset;
    text-decoration: none;
    color: inherit;

}


:root{
    /* colors */
    --blue-900: 230,35%,7%;
    --blue-300: 231, 77%, 90%;

    /*Font sizes*/
    --fs-144: 9rem;
    --fs-100:6.25rem;
    --fs-96:6rem;
    --fs-80: 5rem;
    --fs-56:3.5rem;
    --fs-40:2.5rem;
    --fs-32:2rem;
    --fs-28:1.75rem;
    --fs-24:1.5rem;
    --fs-20:1.25rem;
    --fs-14:0.875rem;
    --fs-16:1rem;
    --fs-18:1.125rem;
    --fs-15:0.9375rem;

    --sp-2: 01.125rem;
    --sp-4:0.25rem;
    --sp-8:0.5rem;
    --sp-12:0.75rem;
    --sp-16:1rem;
    --sp-24:1.5rem;
    --sp-32:2rem;
    --sp-40:2.5rem;
    --sp-48:3rem;
    --sp-64:4rem;
    --sp-80:5rem;
    --sp-96:6rem;
    --sp-128:8rem;
       


}


/* body containers */
.home-body{
    background-image: url(assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.destinations-body{
    background-image: url(assets/destination/background-destination-mobile.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (min-width:768px){
    .home-body{
        background-image: url(assets/home/background-home-tablet.jpg);
    }
}

@media (min-width:1440px){
    .home-body{
    background-image: url(assets/home/background-home-desktop.jpg);
}
}

/*Utility classes*/

.font-sans-cond{
    font-family: "Barlow Condensed", sans-serif;
}
.font-serif{
    font-family: "Bellefair", serif;
}

.font-sans{
    font-family: "Barlow", sans-serif;
}

.margin-r-16{
    margin-right: var(--sp-16);
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.gap-12{
    gap: var(--sp-12);
}

.flex-grow{
    flex-grow: 1;
}

.bw{
    border: 1px solid white;
}

.uppercase{
    text-transform: uppercase;
}

.text-white{
    color: white;
}

.text-white-25{
    color: hsla(360, 100%, 100%,0.25);
}

.fw-bold{
    font-weight: bold;
}

.text-blue-300{
    color: hsl(var(--blue-300));
}

.text-blue-900{
    color: hsl(var(--blue-900));
}

.text-center{
    text-align: center;
}

.self-center{
    align-self: center;
}
/* Fonts utilities*/

.tp1{
    font-size: var(--fs-80);
}

.tp2{
    font-size: var(--fs-56);
}

.tp4{
    font-size: var(--fs-18);
}

.tp5{
    font-size: var(--fs-16);
    letter-spacing: 4px;
}

.tp6-d{
    font-size: var(--fs-28);
}

.tp7{
    font-size: var(--fs-14);
    letter-spacing: 2px;
    font-family: "Barlow Condensed", sans-serif;
}

.tp8{
    font-size: var(--fs-14);
    letter-spacing:2.4px;
}

.tp9{
    line-height: 180%;
    font-size: var(--fs-15);
}






nav{
    
    position: absolute;
    height: 100vh;
    top:0;
    right: 0;
    padding: var(--sp-32);
    background-color: hsla(230, 35%, 7%, 0.15);
    backdrop-filter: blur(20px);
    width: 70vw;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--sp-32);
}

/*blocks*/

header{
    justify-content: space-between;
    display: flex;
    padding: var(--sp-24);
    align-content: center;
    align-items: center;
    position: relative;
}

main{
    padding: var(--sp-24);
}


/*Specifics*/

hr{
    height: 1px;
    background-color: hsla(360, 100%, 100%,0.25);
    border: 0;
}

.logo{
    width: 40px;
}

.home-1{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
    text-align: center;
}

.home-2{
    display: flex;

    flex-grow: 1;
}

.explore-btn{
    margin: auto;
    color: hsl(var(--blue-900));
    background: white;
    height: 144px;
    width: 144px;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.destination-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
}

.destination-info{
    display: flex;
    flex-direction: column;
    gap: var(--fs-32);
}

.planet-img-div{
    padding: var(--sp-24);
    
}

.planet-img{
    width: 150px;
}

.planet-details{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
}

.destinations-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.destinations-list li.active{

    position: relative;
    color: white;

}

.destinations-list li.active::after{
    position: absolute;
    content: "";
    width: calc(100% - 3px);
    height: 3px;
    background-color: white;
    top:160%;
    left:0;
}


.travel-details{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
    text-align: center;
}

.close-btn-div{
    padding-bottom: var(--sp-32);
}