@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight:unset;
    text-decoration: none;
    color: inherit;

}


:root{
    /* colors */
    --blue-900: 230,35%,7%;
    --blue-300: 231, 77%, 90%;

    /*Font sizes*/
    --fs-144: 9rem;
    --fs-100:6.25rem;
    --fs-96:6rem;
    --fs-80: 5rem;
    --fs-56:3.5rem;
    --fs-40:2.5rem;
    --fs-32:2rem;
    --fs-28:1.75rem;
    --fs-24:1.5rem;
    --fs-20:1.25rem;
    --fs-14:0.875rem;
    --fs-16:1rem;
    --fs-18:1.125rem;
    --fs-15:0.9375rem;

    --sp-2: 01.125rem;
    --sp-4:0.25rem;
    --sp-8:0.5rem;
    --sp-12:0.75rem;
    --sp-16:1rem;
    --sp-24:1.5rem;
    --sp-32:2rem;
    --sp-40:2.5rem;
    --sp-48:3rem;
    --sp-64:4rem;
    --sp-80:5rem;
    --sp-96:6rem;
    --sp-128:8rem;
       


}

body{

}

/* body containers */
.home-body{
    background-image: url(assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    height: 100vh;
        background-position: center center; /* Centers the image horizontally and vertically */
  background-size: cover; /* Ensures the image covers the entire background */
  background-attachment: fixed; /* This is the key property for fixed background */
}

.destinations-body{
    background-image: url(assets/destination/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    height: 100vh;
        background-position: center center; /* Centers the image horizontally and vertically */
  background-size: cover; /* Ensures the image covers the entire background */
  background-attachment: fixed; /* This is the key property for fixed background */
}

.crew-body{
    background-image: url(assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center; /* Centers the image horizontally and vertically */
  background-size: cover; /* Ensures the image covers the entire background */
  background-attachment: fixed; /* This is the key property for fixed background */
}

.technology-body{
    background-image: url(assets/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center; /* Centers the image horizontally and vertically */
  background-size: cover; /* Ensures the image covers the entire background */
  background-attachment: fixed; /* This is the key property for fixed background */
}

@media (min-width:768px){
    .home-body{
        background-image: url(assets/home/background-home-tablet.jpg);
    }

    .destinations-body{
        background-image: url(assets/destination/background-destination-tablet.jpg);
        
    }

    .crew-body{
        background-image: url(assets/crew/background-crew-tablet.jpg);
    }

    .technology-body{
        background-image: url(assets/technology/background-technology-tablet.jpg);
    }
}

@media (min-width:1440px){
    

    .home-body{
    background-image: url(assets/home/background-home-desktop.jpg);
}
        .destinations-body{
        background-image: url(assets/destination/background-destination-desktop.jpg);
        height: 100vh;
    }

    .crew-body{
        background-image: url(assets/crew/background-crew-desktop.jpg);
    }

    .technology-body{
        background-image: url(assets/technology/background-technology-desktop.jpg);
    }

}

/*Utility classes*/

.font-sans-cond{
    font-family: "Barlow Condensed", sans-serif;
}
.font-serif{
    font-family: "Bellefair", serif;
}

.font-sans{
    font-family: "Barlow", sans-serif;
}

.margin-r-16{
    margin-right: var(--sp-16);
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.gap-8{
    gap: var(--sp-8);
}

.gap-24{
    gap: var(--sp-24);
}


.gap-12{
    gap: var(--sp-12);
}

.flex-grow{
    flex-grow: 1;
}

.bw{
    border: 1px solid white;
}

.uppercase{
    text-transform: uppercase;
}

.text-white{
    color: white;
}

.text-white-25{
    color: hsla(360, 100%, 100%,0.25);
}

.fw-bold{
    font-weight: bold;
}

.text-blue-300{
    color: hsl(var(--blue-300));
}

.text-blue-900{
    color: hsl(var(--blue-900));
}

.text-center{
    text-align: center;
}

.self-center{
    align-self: center;
}
/* Fonts utilities*/

.tp1{
    font-size: var(--fs-80);
}

.tp2{
    font-size: var(--fs-56);
}

.tp3{
    font-size: var(--fs-24);
}
.tp4{
    font-size: var(--fs-18);
}

.tp5{
    font-size: var(--fs-16);
    letter-spacing: 4px;
}

.tp6-d{
    font-size: var(--fs-28);
}

.tp7{
    font-size: var(--fs-14);
    letter-spacing: 2px;
    font-family: "Barlow Condensed", sans-serif;
}

.tp8{
    font-size: var(--fs-14);
    letter-spacing:2.4px;
}

.tp9{
    line-height: 180%;
    font-size: var(--fs-15);
}


@media (min-width:768px){

    .tp1{
    font-size: var(--fs-144);
}

.tp2{
    font-size: var(--fs-80);
}

.tp3{
    font-size: var(--fs-40);
}

.tp4{
    font-size: var(--fs-24);
}

 .tp5{
    font-size: var(--fs-20);
 }

 .tp8{
    font-size: var(--fs-16);
    letter-spacing:2.4px;
}

 .tp9{
    font-size: var(--fs-16);
}
}

@media (min-width:1440px){

    .tp3{
    font-size: var(--fs-56);
}

.tp4{
    font-size: var(--fs-32);
}

 .tp5{
    font-size: var(--fs-28);
 }

     .tp9{
    font-size: var(--fs-18);
}
}



.nav{
    position: absolute;
    height: 100vh;
    top:0;
    right: 0;
    padding: var(--sp-32);
    background-color: hsla(230, 35%, 7%, 0.15);
    backdrop-filter: blur(20px);
    width: 70vw;
    display: none;
    flex-direction: column;
    gap: var(--sp-48);
    z-index: 10;
    transition: opacity 0.8s ease-out;
}





.nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--sp-32);
}




/*blocks*/

header{
    justify-content: space-between;
    display: flex;
    padding: var(--sp-24);
    align-content: center;
    align-items: center;
    position: relative;
}

main{
    padding: var(--sp-24);
}




/*Specifics*/

hr{
    height: 1px;
    background-color: hsla(360, 100%, 100%,0.25);
    border: 0;
}

.logo{
    width: 40px;
}

.home-1{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
    text-align: center;
}


.home-2{
    display: flex;

    flex-grow: 1;
}

.explore-btn{
    margin: auto;
    color: hsl(var(--blue-900));
    background: white;
    height: 144px;
    width: 144px;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    text-align: center;

}


.destination-wrapper,.crew-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
}

.destination-info{
    display: flex;
    flex-direction: column;
    gap: var(--fs-32);
}

.planet-img-div{
    padding: var(--sp-24);
    
}

.planet-img{
    width: 150px;
}

.planet-details{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
}

.destinations-list{
    display: flex;
    list-style: none;
    gap: var(--sp-32);
    margin: auto;
    padding-bottom: var(--sp-24);
}

.destinations-list li{
    position: relative;
}

.destinations-list li:hover{
    color: white;
    cursor: pointer;
}

.destinations-list li.active{

    position: relative;
    color: white;

}

.destinations-list li::after{
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color:hsla(360, 100%, 100%, 0.5);
    top:160%;
    left:0;
}

.destinations-list li:hover::after{
    width: calc(100% - 3px);
        position: absolute;
    content: "";
    height: 3px;
    background-color:hsla(360, 100%, 100%, 0.5);
    top:160%;
    left:0;
    
}



.destinations-list li.active::after{
    position: absolute;
    content: "";
    width: calc(100% - 3px);
    height: 3px;
    background-color: white;
    top:160%;
    left:0;
}


.travel-details{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
    text-align: center;
}

.close-btn-div{
    padding-bottom: var(--sp-32);
    align-items: center;
}

.close-btn-div img{
    float: right;
}

.nav-link{
    position: relative;
}

.nav-link.active::after{
    position: fixed;
    height: 1rem;
    right: 0;
    width: 3px;
    content:"";
    background: white;
}


.crew-details{
    padding-top: var(--sp-40);
    padding-bottom: var(--sp-40);
}

#hide-on-mid{
    display: none;
}

.crew-switcher{
    display: flex;
    gap: var(--sp-16);
    margin: auto;
    width: fit-content;
}
.circle{
    background-color: hsla(360, 100%, 100%,0.18);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.circle:hover{
    background: hsla(360, 100%, 100%,0.5);
}

.circle.active{
    background-color: white;
}

.crew-dp{
    width: 100%;
    max-width: 15rem;
}

.crew-dp-div{
    position: relative;
}

.crew-dp-div::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 4rem;
    bottom: 0;
    left: 0;
background: rgba(0, 0, 0, 0);
background: linear-gradient(180deg,rgba(13, 15, 28, 0) 0%, rgba(13, 15, 28, 1) 100%);
}

#crew-bio{
    height: 10rem;
}

.technology-switcher{
    display: flex;
    gap: var(--sp-16);
    width: fit-content;
    margin: auto;
}

.tech-circle{
    border: 1px solid hsla(360, 100%, 100%,0.25);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
}

.tech-circle:hover{
    border: 1px solid white;
}


.circle:hover,.tech-circle:hover,.explore-btn:hover{
    cursor: pointer;
}

.tech-circle.active{
    color: hsl(var(--blue-900));
    background: white;
}

.tech-details{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
}
.technology-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);

}

.tech-main{
    padding-bottom: var(--sp-48);
}

.technology-inner-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--sp-32);
}

.technology-1{
    padding-top: var(--sp-64);
    margin-left: -1.5rem;
    flex-grow: 1;
}

.technology-2{
    display: flex;
    flex-direction: column;
    gap: var(--sp-40);
    flex-grow: 1;
}

.tech-img{
    /* object-view-box: xywh(25% 30% 100vw 16rem); */
    object-fit:cover;
    width: 100vw;
    height: 15rem;
 /*    object-view-box: inset(center); */
}

.crew-inner-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--sp-32);
}

@media (min-width:768px){


    .technology-1{
        margin-left: -48px;
    }

    .tech-details{
        max-width: 32rem;
        margin: auto;
    }

    .tech-circle{
        height: 56px;
        width: 56px;
    }

    .tech-img{
        height: 22.25rem;
    }

    .crew-dp{
        max-width: 25rem;
        vertical-align: bottom;
        
}
    .crew-dp-div{
        margin-bottom: -2.5rem;
    }

    .crew-dp-div::after{
        display: none;
    }
        header{
        padding: 0;
    }

    .planet-img{
    width: 300px;
}

    .nav{
        display: block;
        position: relative;
        height: auto;
        background-color: hsla(360, 100%, 100%,0.05);
        width: 80%;
        padding: var(--sp-40);
        max-width: 43rem;
        z-index: 9;
    }

    .nav ul{
        flex-direction: row;
        gap: var(--sp-48);
        justify-content: end;
    }

    .nav ul li{
    }

    .close-btn-div,.open-nav-btn{
        display: none;
    }


    .nav-link.active::after{
        position: absolute;
        width: 100%;
        background-color: white;
        height: 3px;
        content: "";
        left: 0;
        bottom: -2.5rem;

    }
 .explore-btn{
    height: 272px;
    width: 272px;
 }

    .home-1{
        max-width: 72%;
        margin: auto;
    }

        main{
    padding: var(--sp-40);
}

#hide-on-mid{
    display: none;
}

.logo{
    width: 48px;
    align-self: center;
    vertical-align: middle;

}

.logo-div{
    text-align: center;
}


.step{
    text-align: left;
}

.travel-details{
flex-direction: row;
margin: auto;
width: 100%;
justify-content: space-around
}

.planet-details{
    max-width: 32rem;
    margin: auto;
}

#crew-bio{
    height: 5rem;
}

}


@media (min-width:1440px){



    .technology-inner-wrapper{
        flex-direction: row-reverse
    }

    .technology-1{
       text-align: right;
    }

    .tech-img{
        width: auto;
        height: auto;
    }

    .technology-2{
        flex-direction: row;
    }
    .tech-details{
    text-align: left;
    align-items:initial;
    }

    .tech-name{
        margin-bottom: var(--sp-8);
    }

    .technology-switcher{
        flex-direction: column;
    }

    .tech-circle{
        height: 80px;
        width: 80px;
    }

    .tech-main{
        padding: var(--sp-48) 0 var(--sp-48) var(--sp-128);
    }

        .technology-wrapper{

    width: 100%;
    }


    .crew-body{
        display: flex;
        flex-direction: column;
    }

    .crew-inner-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    }

    main{
        display: flex;
    }

    main,.crew-wrapper{
        flex-grow: 1;
        
    }

    .crew-wrapper{
        max-width: 90rem;
        margin: auto;
        height: 45.8rem;
    }

    .circle{
        width: 15px;
        height: 15px;
    }

    .crew-1{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .crew-switcher{
        gap: var(--sp-40);
        bottom: 0;
        margin-left: 0;
        margin-bottom: 0;
       /*  border: 1px solid red; */
        padding-bottom: var(--sp-48);

        
    }

    .crew-details{
       /*  border: 1px solid green; */
        margin: auto;
    }
    
    .text-left{
        text-align: left;
    }

    .crew-dp{
        height: 45.8rem;
        width: 33.6rem;
        max-width:none;
        object-fit: contain;
        
        
    }

    .crew-dp-div{
        margin-bottom: 0;
    }

    .crew-dp-div::after{
        display: block;
        height: 5rem;
        z-index: 50;
    }



    #hide-on-mid{
    display: inline;
}

header{
    padding-top: var(--sp-40);
}

.header-line{
    flex-grow: 1;
    height: 1px;
    background: hsla(360, 100%, 100%,0.25);
     margin-right: -32px;
     z-index: 10;
    
}

    .planet-img{
    width: 480px;
}


.logo-div{
    text-align: center;
    flex-grow: 0;
    padding-left: var(--sp-64);
    padding-right: var(--sp-64);

}

.home-main{
    padding: var(--sp-128);
}

.destination-main{
    padding: var(--sp-48);
}

.crew-main{
    padding: var(--sp-48) var(--sp-128);
}

.home-wrapper{
    flex-direction: row;
    
    align-items: end;
    align-content: end;
    
}

.destination-wrapper{
    margin: auto;
    width: fit-content;
}



.destination-info{
    flex-direction: row;
    gap: var(--sp-32);
    padding-top: var(--sp-24);
}

.home-1{
    margin-bottom: 0;
    text-align: left;
    max-width: 34rem;
}

 .explore-btn{
    margin-right: 0;
    position: relative;
    z-index: 5;
 }

 .explore-btn:hover{
    
 }

/*  .explore-btn:hover::after{
    position: absolute;
    width: 450px;
    height: 450px;
    background: hsla(360, 100%, 100%,0.25);
    content: "";
    top: -89px;
    left: -89px;
    z-index: 4;
    border-radius: 50%;
 } */

 .explore-btn::after {
    position: absolute;
    width: 0; /* Start at 0 width */
    height: 0; /* Start at 0 height */
    background: hsla(360, 100%, 100%, 0.25);
    content: "";
    top: 50%; /* Center the circle */
    left: 50%; /* Center the circle */
    transform: translate(-50%, -50%); /* Center the circle */
    z-index: 4;
    border-radius: 50%;
    transition: width 0.8s ease-out, height 0.5s ease-out; /* Add smooth transition */
    opacity: 0; /* Start transparent */
}

.explore-btn:hover::after {
    width: 450px;
    height: 450px;
    opacity: 1; /* Fade in */
}


.destinations-list{
    margin-left: 0;
}

#destination-name,#destination-description{
    text-align: left;
}

.travel-details{
    margin-left: 0;
    text-align: left;
}

.travel-details div{
    text-align: left;

    flex-grow: 1;
}

.planet-details{
gap: var(--sp-40);
padding: var(--sp-32);

}

.nav-link::after{
position: absolute;
        width: 0;
        background-color: hsla(360, 100%, 100%, 0.5);
        height: 3px;
        content: "";
        left: 50%;
        bottom: -2.5rem;
        transition: width 0.3s ease-out, left 0.3s ease-out;
}

.nav-link:hover::after{
        width: 100%;
        left: 0;
}



}